.calendar {
    width: 320px;
    margin-top: 40px;

    .calendar-body {
        
        .week-container {
            display: flex;
            .week {
                flex: 1;
                text-align: center;
            }
        }

        .day-container {
            display: flex;
            .day {
                flex: 1;
                text-align: center;
            }
        }
    }
}